.main {
    position: relative;
}
.titleContainer {
    max-width: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 20px;
}
.title {
    font-weight: 500;
    margin: 0px;
}
