.modal {
    position: absolute;
    top: 30px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px 3px orange;
    background-color: white;
    z-index: 1;
}
.title {
    font-weight: 600;
    margin: 0px;
}
