.modalBackground {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
}
.modal {
    max-width: 400px;
    width: max-content;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 4px 1px orange;
    background-color: white;
    z-index: 3;
}
.title {
    margin: 5px auto;
    text-align: center;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form button {
    width: 100%;
}
.label {
    width: fit-content;
    max-width: 100%;
    text-align: center;
    margin: 5px 0;
}
.input,
.textarea {
    width: calc(240px + 5vw);
    max-width: 100%;
    padding: 5px;
    border-top-left-radius: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 165, 0, 0.5);
    border-left: 4px solid orange;
}
.textarea {
    height: 150px;
    resize: none;
}
.ratingCoffee {
    display: flex;
    gap: 15px;
}
